.madlib-intro {
  .title, .subtitle {
    margin: 0;
  }

  .title {
    font-size: $font-size-title;

    &.muted {
      @include animate(370ms);
      opacity: 0.25;
      transform: scale(0.75);
    }
  }

  .subtitle {
    font-size: $font-size-subtitle;
    margin-top: $space;

    &:hover {
      cursor: pointer;
    }
  }
}
