/* COLOR VARIABLES */
$green: #15ab5a;
$black: #000;
$white: #FFF;


/* FONT VARIABLES */
$W_normal: 400;
$W_bold: 700;
$font-size-small: 16px;
$font-size: 32px;
$font-size-title: 42px;
$font-size-subtitle: 18px;


/* SPACING VARIABLES */
$space: 16px;
$space-half: $space / 2;
$space-double: $space * 2;
$space-quarter: $space / 4;

/* MIXINS */
@mixin animate($time) {
  -webkit-transition: opacity $time ease, -webkit-transform $time ease;
  transition: opacity $time ease, transform $time ease;
}

@mixin defaultButton() {
  border-radius: $space-quarter;
  font-size: $font-size-small;
  margin-top: $space-double;
  padding: $space;
}
