/* COLOR VARIABLES */
$green: #23AA5D;
$black: #000;
$white: #FFF;


/* FONT VARIABLES */
$normal: 400;
$bold: 700;


/* SPACING VARIABLES */
$space: 8px;
$space-half: $space / 2;
$space-double: $space * 2;
