/* COLOR VARIABLES */
$green: #3cbf6a;
$black: #000;
$white: #FFF;


/* FONT VARIABLES */
$W_normal: 400;
$W_bold: 700;
$font-size: 18px;
$font-size-title: 42px;


/* SPACING VARIABLES */
$space: 8px;
$space-half: $space / 2;
$space-double: $space * 2;
