@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

/* Base Application Styles */
.main {
  font-family: 'Noto Sans', sans-serif;
  background-color: $green;
  color: $white;
  text-align: center;
  height: 100vh;

  .madlib-intro {
    .madlib-title, .madlib-subtitle {
      margin: 0;
    }

    .madlib-title {
      font-size: 2.5em;
    }

    .madlib-subtitle {
      font-size: 1.1em;
      font-weight: $bold;
      padding-top: $space-double;
    }
  }

  .madlib-form {
    fieldset {
      border: none;
    }

    label:after {
      content: ': ';
    }

    .form-group {
      font-size: 1.85em;
      font-weight: $bold;
      padding: $space 0;
      opacity: 1;

      input {
        color: $white;
        background: transparent;
        border: none;
        border-bottom: $space-half solid $white;
        margin-left: $space-half;
        max-width: 200px;
      }
    }

    .form-group:not(.has-focus) {
      font-size: 1.2em;
      font-weight: $normal;
      opacity: 0.25;

      input {
        border: none;
      }
    }
  }

  .madlib-line {
    display: block;
    height: 20px;

    &.last-of-chunk + .madlib-line {
      display: inline-block;
    }
  }

  .user-submitted-value {
    text-decoration: underline;
  }
}

