// Variables
@import 'variables';

// Font
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

// Base Application Styles
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Noto Sans', sans-serif;
  font-size: $font-size;
  font-weight: $W_bold;
  background-color: $green;
  color: $white;
  text-align: center;
  height: 100vh;
}

// Component Specific Styles
@import './components/intro';
@import './components/madlibform';
@import './components/submittedmadlib';

