@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

/* Base Application Styles */
.main {
  font-family: 'Noto Sans', sans-serif;
  background-color: $green;
  color: $white;
  text-align: center;

  .madlib-intro {
    .title, .subtitle {
      margin: 0;
    }

    .title {
      font-size: 2.5em;
    }

    .subtitle {
      font-size: 1.1em;
      font-weight: 700;
      padding: 16px 0 0 0;
    }
  }

  .madlib-form {
    label:after {
      content: ': ';
    }

    input {
      background: transparent;
      border: none;
      border-bottom: 2px solid $white;
      margin-left: 4px;
    }
  }

  .madlib-line {
    display: block;
    height: 20px;

    &.last-of-chunk + .madlib-line {
      display: inline-block;
    }
  }

  .user-submitted-value {
    text-decoration: underline;
  }
}

